html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: black;
	
  	margin-bottom: 60px;
}

#wrap {
	background-color: black;
	color:#646464;
}

#header {
	background-color: black;
	height:70px;
}

#title {
	color:#fff;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	padding-top:16px;
}

#buttonArea{
	margin-top:10px;
}

.btn {
	margin:3px;
}

#gifArea {
	margin-top:20px;
}

.Border {
	border-radius: 5px;
	border: 2px solid black;
}

.submit {
	background-color: black;
	color: black;
	border:1px solid #646464;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align:center;
    background-color: black;
}

.credits {
	font-size: .8em;
}
.clear {
	clear:both;
}